Repository enthought/traits, pull requests merged in 2020-01, with the labels that each got.

#724 BUG: Fix name-mangling of __methods in _Classes
  traits/has_traits.py
  traits/tests/test_static_notifiers.py
Labels: bug

#685 Support Python Enums as values for Enum trait
  traits/tests/test_enum.py
  traits/trait_base.py
  traits/trait_types.py
Labels: enhancements

#844 Fix unsafe field setting in set_value
  traits/ctraits.c
  traits/tests/test_ctraits.py
Labels: backport to 6.0

#848 Fix test for DatetimeEditor to avoid failure if TraitsUI not installed
  traits/tests/test_editor_factories.py
Labels: needs backport to 6.0

#843 Improved API documentation for trait_types
  docs/source/traits_api_reference/trait_types.rst
  traits/trait_types.py
Labels: needs backport to 6.0

#857 Make DefaultValue, ValidateTrait and TraitKind available in traits.api
  traits/api.py
Labels: needs backport to 6.0

#854 Additional class docstring fixes
  docs/source/traits_api_reference/trait_numeric.rst
  traits/adaptation/adapter.py
  traits/etsconfig/etsconfig.py
  traits/testing/unittest_tools.py
  traits/trait_numeric.py
  traits/util/event_tracer.py
Labels: needs backport to 6.0

#855 Avoid containment-related DeprecationWarning on Python 3.7
  traits/tests/test_trait_base.py
  traits/trait_base.py
Labels: needs backport to 6.0
