Repository enthought/traits, pull requests merged in 2020-05, with the labels that each got.

#1074 Add notifications for the #ets-bots Slack channel
  .travis.yml
Labels: component: build, type: enhancement

#1136 Add intersphinx extension
  docs/source/conf.py
Labels: component: documentation

#1060 Add user manual for observe
  docs/source/traits_api_reference/traits.observation.rst
  docs/source/traits_user_manual/appendix.rst
  docs/source/traits_user_manual/index.rst
  docs/source/traits_user_manual/listening.rst
  docs/source/traits_user_manual/notification.rst
  examples/tutorials/doc_examples/examples/observe_decorator.py
  examples/tutorials/doc_examples/examples/observe_different_events.py
  examples/tutorials/doc_examples/examples/observe_method.py
  examples/tutorials/doc_examples/examples/observe_optional.py
  examples/tutorials/doc_examples/examples/observe_post_init.py
Labels: component: documentation

#1133 Release notes and changelog for 6.1.0
  CHANGES.rst
Labels: component: documentation

#1148 Tests: call the repr function rather than the corresponding dunder method
  traits/tests/test_trait_dict_list_set_event.py
Labels: needs backport to 6.1

#1149 Fix mutation of global state by a test
  CHANGES.rst
  traits/tests/test_trait_dict_list_set_event.py
Labels: needs backport to 6.1

#1152 Add missing Py_DECREF to fix a reference leak
  CHANGES.rst
  traits/ctraits.c
Labels: needs backport to 6.1

#1153 DOC: Expand user manual on migration from Either to Union
  CHANGES.rst
  docs/source/traits_user_manual/defining.rst
Labels: needs backport to 6.1

#1156 Remove logging configuration for logging observe's change handler failure
  traits/observation/exception_handling.py
  traits/observation/tests/test_exception_handling.py
  traits/observation/tests/test_trait_event_notifier.py
Labels: needs backport to 6.1

#1157 Fix some DeprecationWarnings from the test suite
  CHANGES.rst
  traits/tests/test_trait_prefix_list.py
  traits/tests/test_traits.py
Labels: component: test suite, needs backport to 6.1, type: cleanup

#1160 Remove an unused logger
  traits/trait_handlers.py
Labels: type: cleanup

#1162 Add changelog link to the Either-to-Union migration guide
  CHANGES.rst
Labels: component: documentation, needs backport to 6.1

#1159 Remove unused catch_logs contextmanager
  traits/tests/test_trait_get_set.py
Labels: type: cleanup

#1158 Assume DatetimeEditor exists
  traits/editor_factories.py
  traits/tests/test_editor_factories.py
Labels: type: cleanup
