Repository enthought/traits, pull requests merged in 2020-07, with the labels that each got.

#1176 Refactor and simplify HasTraits method checks
  traits-stubs/traits-stubs/has_traits.pyi
  traits/has_traits.py
Labels: type: cleanup

#1225 Strengthen interface checks in tests
  traits/tests/test_interfaces.py
Labels: component: test suite, type: cleanup

#1231 Deprecate the use of CHECK_INTERFACES for automatic interface checking.
  docs/source/traits_user_manual/advanced.rst
  traits/has_traits.py
  traits/tests/test_interfaces.py
Labels: type: cleanup

#1250 Update PyPI links and capitalization in README.rst
  README.rst
Labels: needs backport to 6.1

#1246 Fix trait_documenter for properties
  traits/util/tests/test_trait_documenter.py
  traits/util/trait_documenter.py
Labels: porting: needs backport to 6.1

#1061 First cut at a traits beginner tutorial
  examples/tutorials/introduction/0_introduction.py
  examples/tutorials/introduction/1_validation.py
  examples/tutorials/introduction/2_initialization.py
  examples/tutorials/introduction/3_observation.py
  examples/tutorials/introduction/4_properties.py
  examples/tutorials/introduction/5_documentation.py
  examples/tutorials/introduction/6_visualization.py
  examples/tutorials/introduction/__init__.py
  examples/tutorials/introduction/images/LICENSE.txt
  examples/tutorials/introduction/images/sample_0001.png
  examples/tutorials/introduction/images/sample_0002.png
Labels: component: documentation
