Repository enthought/traits, pull requests merged in 2022-08, with the labels that each got.

#1688 Make ETSConfig class documentation visible in the API docs
  docs/source/traits_api_reference/traits.etsconfig.rst
  traits/etsconfig/etsconfig.py
Labels: component: documentation

#1700 Document that the Trait factory function should not be used in new code
  docs/source/traits_user_manual/custom.rst
  traits/traits.py
Labels: porting: needs backport to 6.4

#1645 Fix TraitType clone default values
  traits/has_traits.py
  traits/tests/test_expression.py
  traits/tests/test_interfaces.py
  traits/tests/test_regression.py
  traits/trait_type.py
Labels: component: core, porting: needs backport to 6.4

#1699 Document that Either should not be used in new code
  docs/source/traits_api_reference/trait_types.rst
  docs/source/traits_user_manual/defining.rst
  traits/trait_numeric.py
  traits/trait_types.py
Labels: component: documentation, porting: needs backport to 6.4

#1701 Remove the deprecated Long trait type and its variants
  docs/source/traits_api_reference/trait_types.rst
  traits-stubs/traits-stubs/api.pyi
  traits-stubs/traits-stubs/trait_types.pyi
  traits/api.py
  traits/tests/test_long_traits.py
  traits/trait_types.py
Labels: type: cleanup

#1703 Remove TraitPrefixList and TraitPrefixMap
  docs/source/traits_api_reference/trait_handlers.rst
  docs/source/traits_user_manual/custom.rst
  examples/tutorials/doc_examples/examples/lesson.desc
  examples/tutorials/doc_examples/examples/traitprefixmap.py
  traits-stubs/traits-stubs/api.pyi
  traits-stubs/traits-stubs/trait_handlers.pyi
  traits/api.py
  traits/constants.py
  traits/ctraits.c
  traits/tests/test_deprecated_handlers.py
  traits/tests/test_trait_prefix_list.py
  traits/tests/test_traits.py
  traits/trait_handlers.py
Labels: type: cleanup

#1697 Remove deprecated find_resource and store_resource functions
  traits/util/resource.py
  traits/util/tests/test_resource.py
Labels: type: cleanup

#1698 Remove deprecated rich_compare metadata
  traits/tests/test_comparison_mode.py
  traits/tests/test_rich_compare.py
  traits/tests/test_traits.py
  traits/trait_type.py
  traits/traits.py
Labels: type: cleanup

#1693 Update changelog in preparation for 6.4.0 release.
  CHANGES.rst
Labels: component: documentation, porting: needs backport to 6.4

#1710 Fix and rename requires_numpy_typing decorator
  traits-stubs/traits_stubs_tests/test_all.py
  traits/testing/optional_dependencies.py
Labels: porting: needs backport to 6.4

#1709 Update traits-stubs setup.py file for release
  traits-stubs/setup.py
  traits-stubs/traits_stubs_tests/examples/__init__.py
Labels: porting: needs backport to 6.4

#1711 Update cibuildwheel to the latest version
  .github/workflows/release-to-pypi.yml
Labels: porting: needs backport to 6.4
